workflows/main-conversation.json
{
  "updatedAt": "2026-04-10T09:36:15.813Z",
  "createdAt": "2026-03-24T13:29:02.451Z",
  "id": "fFnV9UqWZ4q4CtjP",
  "name": "LINE → GHL Taiwan Lead + Automation Trigger",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        320
      ],
      "id": "0a92285c-6075-45c4-bfd4-203d45e5e3a2",
      "name": "Webhook1",
      "webhookId": "5c2365ad-80f3-40ed-b167-db2e8dd7f7ce"
    },
    {
      "parameters": {
        "url": "=https://api.line.me/v2/bot/profile/{{ $json.body.events ? $json.body.events[0].source.userId : ($json.body.userId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "get-line-profile",
      "name": "Get LINE Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vLX9ZgLfdMvCBu7G",
          "name": "LINE Bot Token"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "firstName",
              "value": "={{ $json.displayName || $('Webhook1').item.json.body.displayName || $('Webhook1').item.json.body.name || 'LINE Lead' }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "displayName",
              "value": "={{ $json.displayName || $('Webhook1').item.json.body.displayName || '' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "lineUserId",
              "value": "={{ $('Webhook1').item.json.body.events ? $('Webhook1').item.json.body.events[0].source.userId : ($('Webhook1').item.json.body.userId || $('Webhook1').item.json.body.lineId || '') }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone || '' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "email",
              "value": "={{ $('Webhook1').item.json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "program",
              "value": "={{ $('Webhook1').item.json.body.program || ($('Webhook1').item.json.body.events?.[0]?.message?.text?.toLowerCase().includes('jss') ? 'JSS' : ($('Webhook1').item.json.body.events?.[0]?.message?.text?.toLowerCase().includes('國中') ? 'JSS' : ($('Webhook1').item.json.body.events?.[0]?.message?.text?.toLowerCase().includes('junior') ? 'JSS' : 'HSS'))) }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "messageText",
              "value": "={{ $('Webhook1').item.json.body.events ? $('Webhook1').item.json.body.events[0].message?.text : ($('Webhook1').item.json.body.message || '') }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "profilePicUrl",
              "value": "={{ $json.pictureUrl || '' }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "eventType",
              "value": "={{ $('Webhook1').item.json.body.events ? $('Webhook1').item.json.body.events[0].type : 'api' }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "replyToken",
              "value": "={{ $('Webhook1').item.json.body.events ? $('Webhook1').item.json.body.events[0].replyToken : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-data",
      "name": "Parse LINE Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reply-check",
              "leftValue": "={{ $json.replyToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-reply-token",
      "name": "Has Reply Token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Parse LINE Data').item.json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Parse LINE Data').item.json.displayName || '你' }}好！感謝你對 HASSE 太空學校的關注 🚀\\n\\n2026 暑期梯次（7/7-7/18）正在接受報名。\\n\\n我們的顧問團隊會盡快與你聯繫，協助你了解最適合的課程。\\n\\n📞 台灣專線：02-8780-8650\\n🌐 HSS：tcghss1.spaceschool.org\\n🌐 JSS：tcgjss1.spaceschool.org\"\n    }\n  ]\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "reply-line-user",
      "name": "Reply to LINE User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vLX9ZgLfdMvCBu7G",
          "name": "LINE Bot Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.program }}",
              "rightValue": "HSS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-program",
      "name": "HSS or JSS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        704,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('Parse LINE Data').item.json.displayName || $('Parse LINE Data').item.json.firstName }}\",\n  \"phone\": \"{{ $('Parse LINE Data').item.json.phone }}\",\n\"email\": \"{{ $('Parse LINE Data').item.json.email || $('Parse LINE Data').item.json.lineUserId + '@line.placeholder' }}\",\n  \"source\": \"LINE - TC HSS Taiwan\",\n  \"tags\": [\"line-lead\", \"[2026] taiwan\", \"[hss] 2026-tw\", \"[hss] 2026-s\", \"tc-funnel\"],\n  \"locationId\": \"A0BcGX8PnPccQLUEzdm6\",\n  \"customFields\": [\n    {\"key\": \"line_user_id\", \"value\": \"{{ $('Parse LINE Data').item.json.lineUserId }}\"}\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-hss-contact",
      "name": "Upsert GHL Contact (HSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -32
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('Parse LINE Data').item.json.displayName || $('Parse LINE Data').item.json.firstName }}\",\n  \"phone\": \"{{ $('Parse LINE Data').item.json.phone }}\",\n  \"email\": \"{{ $('Parse LINE Data').item.json.email || $('Parse LINE Data').item.json.lineUserId + '@line.placeholder' }}\",\n  \"source\": \"LINE - TC JSS Taiwan\",\n  \"tags\": [\"line-lead\", \"[2026] taiwan\", \"[jss] 2026-tw\", \"[jss] 2026-s\", \"tc-funnel\"],\n  \"locationId\": \"A0BcGX8PnPccQLUEzdm6\",\n  \"customFields\": [\n    {\"key\": \"line_user_id\", \"value\": \"{{ $('Parse LINE Data').item.json.lineUserId }}\"}\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-jss-contact",
      "name": "Upsert GHL Contact (JSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"249OcrNHgsq4FtnvfdwS\",\n  \"pipelineStageId\": \"c3943031-557c-4e2f-9385-77491f5e1218\",\n  \"locationId\": \"A0BcGX8PnPccQLUEzdm6\",\n  \"contactId\": \"{{ $('Upsert GHL Contact (HSS)').item.json.contact.id }}\",\n  \"name\": \"{{ $('Parse LINE Data').item.json.displayName || $('Parse LINE Data').item.json.firstName }} - LINE HSS\",\n  \"status\": \"open\",\n  \"source\": \"LINE\"\n}",
        "options": {}
      },
      "id": "create-hss-opportunity",
      "name": "Create HSS Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        16
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      },
      "notes": "Pipeline: 2026 Space School → Show Interest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"249OcrNHgsq4FtnvfdwS\",\n  \"pipelineStageId\": \"c3943031-557c-4e2f-9385-77491f5e1218\",\n  \"locationId\": \"A0BcGX8PnPccQLUEzdm6\",\n  \"contactId\": \"{{ $('Upsert GHL Contact (JSS)').item.json.contact.id }}\",\n  \"name\": \"{{ $('Parse LINE Data').item.json.displayName || $('Parse LINE Data').item.json.firstName }} - LINE JSS\",\n  \"status\": \"open\",\n  \"source\": \"LINE\"\n}",
        "options": {}
      },
      "id": "create-jss-opportunity",
      "name": "Create JSS Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        368
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      },
      "notes": "Pipeline: 2026 Space School → Show Interest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/workflow/afb07e57-e12a-40e0-bef2-5f927bab09fc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "trigger-hss-workflow",
      "name": "Trigger GHL HSS Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        160
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      },
      "continueOnFail": true,
      "notes": "Triggers: 2026 TC General HSS Webinar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/workflow/f823b2d2-93a4-48bd-8d2f-23c061dde6b7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "trigger-jss-workflow",
      "name": "Trigger GHL JSS Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        512
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      },
      "continueOnFail": true,
      "notes": "Triggers: 2026 TC General JSS Webinar"
    },
    {
      "parameters": {
        "fromEmail": "service@ivicon.com",
        "toEmail": "service@ivicon.com",
        "subject": "=🚀 New LINE Lead: {{ $('Parse LINE Data').item.json.displayName || $('Parse LINE Data').item.json.firstName }} ({{ $('Parse LINE Data').item.json.program }})",
        "options": {}
      },
      "id": "notify-team",
      "name": "Notify Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1344,
        208
      ],
      "webhookId": "47a441e1-5a3b-4e14-9233-9d4825f53108",
      "credentials": {
        "smtp": {
          "id": "KCRNxj4GBldesU4V",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Portbis2",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Morpheus-Brain",
          "mode": "name"
        },
        "filePath": "=conversations/line/{{ $now.format('yyyy-MM-dd') }}/{{ $now.toMillis() }}.md",
        "fileContent": "=# LINE Message  **Date**: {{ $now.format('yyyy-MM-dd HH:mm:ss') }} **User**: {{ $('Get LINE Profile').item.json.displayName }} **Source**: LINE HASSE @nhe2702g  ---  {{ $json.messageText }}  ---  #line #hasse #auto-logged",
        "commitMessage": "=auto-log: LINE msg from {{ $('Get LINE Profile').item.json.displayName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        336
      ],
      "id": "890994de-d977-42dc-932b-af5410ef56ca",
      "name": "Create a file",
      "webhookId": "5d6deac2-0aac-4547-98ad-676f402a3ee4",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4NqCmT8KvIvNJiYo",
          "name": "GitHub OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "A0BcGX8PnPccQLUEzdm6"
            },
            {
              "name": "query",
              "value": "={{ $json.lineUserId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Search GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        128
      ],
      "id": "abca56ee-253a-4897-b2af-bda95931d406",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.contacts?.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        -48
      ],
      "id": "7695d811-18c2-4e12-8e55-5752b3418902"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Parse LINE Data').item.json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"template\",\n      \"altText\": \"請問你是？\",\n      \"template\": {\n        \"type\": \"buttons\",\n        \"text\": \"你好！歡迎來到 HASSE 太空學校 \\ud83d\\ude80\\n請問你是？\",\n        \"actions\": [\n          {\n            \"type\": \"message\",\n            \"label\": \"\\ud83c\\udf93 校友\",\n            \"text\": \"我是校友\"\n          },\n          {\n            \"type\": \"message\",\n            \"label\": \"\\ud83d\\ude4b 第一次認識\",\n            \"text\": \"第一次認識\"\n          }\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Reply: Welcome New User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        208
      ],
      "id": "52a0adf8-1312-4883-8779-7dac49b29100",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vLX9ZgLfdMvCBu7G",
          "name": "LINE Bot Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst messageText = (item.messageText || '').trim();\nconst replyToken = item.replyToken;\nconst displayName = item.firstName || '';\nconst lineUserId = item.lineUserId || '';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.users) staticData.users = {};\nconst userData = staticData.users[lineUserId] || {};\nconst userState = userData.state || 'new';\n\nlet messages = [];\nlet ghlAction = 'none';\nlet needsAI = false;\nlet nextState = userState;\nlet program = '';\nlet aiBody = null;\n\nfunction textMsg(text) { return [{ type: 'text', text }]; }\nfunction buttons(text, btns) {\n  return [{\n    type: 'template',\n    altText: text.substring(0, 40),\n    template: { type: 'buttons', text, actions: btns.map(b => ({ type: 'message', label: b, text: b })) }\n  }];\n}\nfunction welcomeMsg() {\n  return buttons('你好！歡迎來到 HASSE 太空學校 🚀\\n請問你是？', ['🎓 校友', '🙋 了解課程', '💬 我要問問題']);\n}\nfunction askAgeMsg() {\n  return buttons('我先確認一下孩子的年級，這樣可以給你最準確的資訊 😊\\n\\n請問目前是？', ['🎓 高中 / 大學', '📚 小五～國九', '📒 小四以下']);\n}\n\nfunction detectProgram(text) {\n  // 小學1-4年級 / 低年級 → 科學探索營\n  if (/小[學学][一二三四1-4]|[一二三四1-4]年[級级紀纪]|幼稚園|幼兒園|學齡前|7歲|8歲|9歲|10歲/.test(text)) return '科學探索營';\n  // 小學5-6年級 / 國中 → JSS\n  if (/小[學学][五六5-6]|[五六5-6]年[級级紀纪]|國中|初中|國[一二三七八九]|11歲|12歲|13歲|14歲|7年級|8年級|9年級/.test(text)) return 'JSS';\n  // 高中 / 大學 → HSS\n  if (/高中|高[一二三]|大[學学]|大[一二三四]|高職|高[1-3]|15歲|16歲|17歲|18歲|19歲|20歲|10年級|11年級|12年級|研究所|碩士/.test(text)) return 'HSS';\n  return '';\n}\n\nfunction buildAIBody(text, prog) {\n  const systemPrompt = '你是 HASSE 太空學校的 LINE 客服助手。用繁體中文、友善親切的語氣回答。回答簡短（不超過150字），適合手機聊天。\\n\\n=== 鐵律（最高優先）===\\n1. 回答問題為主，不主動推銷。客戶問什麼就答什麼。\\n1b. 如果上下文有用戶姓名/電話/Email，代表你已經知道這些資訊，直接使用，不要再問一次。\\n2. 如果能判斷學生年齡/年級，推薦對應課程並附上網址。\\n3. 絕對不要叫客戶打電話或寫 Email。\\n4. 只有客戶明確說「我要跟人談」「找真人」「安排諮詢」時，才說「好的！我請顧問直接 LINE 你 😊 方便什麼時候聯繫？」\\n5. 【鐵律】不知道的問題絕對不要回答，直接說：「這個問題我幫你記下來了，會請專人盡快回覆你 😊」。你不是創辦人，不能代表公司回答不確定的事。\\n6. 【鐵律】嚴禁編造、猜測、推測、拼湊。只能用本提示裡的知識庫內容回答。知識庫沒有的 = 你不知道 = 轉專人。沒有例外。\\n7. 如果客戶提到已報名/退費/付款/簽證等行政問題，回答：「我們收到了，會盡快請專人回覆你 😊」\\n8. 如果客戶問有沒有在台灣的課程、台灣上課、不出國的課程、本地課程、其他課程、線上課程等非休士頓的課程，回答：「目前我們主要的課程都在美國休士頓進行，關於其他課程安排，我幫你請專人說明 😊」\\n9. 如果上下文標註學生類別是 JSS，不要提 HSS。如果是小學生/科學探索營，不要提 HSS 或 JSS。只提跟該學生年齡相關的課程。\\n10. 回覆格式：純文字，不要用 markdown（不要用 **粗體**、# 標題、- 列表等）。網址直接貼，前後不要加任何符號。\\n\\n=== 課程分流（最重要的規則）===\\n⚠ 如果不知道學生年齡或年級，必須先問：「方便告訴我孩子目前幾年級呢？這樣我可以推薦最適合的課程 😊」\\n⚠ 不要在不確定年齡的情況下推薦任何特定課程或給出課程網址！\\n- 高中生（10年級以上）/大學生/15歲以上 → HSS 太空學校（又稱高階太空學校），網址：https://tcghss1.spaceschool.org/\\n- 小學5-6年級/國中（7-9年級）/約10-14歲 → JSS 初階太空學校，網址：https://tcgjss1.spaceschool.org/\\n- 小學1-4年級/10歲以下 → 科學探索營（也在美國休士頓），請專人聯繫\\n注意：小學五、六年級雖然是小學生，但屬於 JSS 初階太空學校的範圍\\n\\n=== HASSE 基本資訊 ===\\n- 成立於 2005 年，美國德州休士頓，國際知名太空教育組織\\n- 超過 15,000 名校友，來自 20+ 國家\\n- 與 NASA 太空人、科學家長期合作（非從屬關係，但以正式成員參與課程設計）\\n- 榮獲 2024 ITC 全球商業影響力獎\\n- 亞太辦公室：台北市信義路五段五號 7B12\\n\\n=== HSS 太空學校／高階太空學校（高中/大學）===\\n核心理念：讓學生提前十年看到未來世界。太空經濟正在成形，AI 正在讓它加速。最先理解它的學生，將擁有不同的視野。\\n\\n基本資訊：\\n- 12天全程住宿沉浸式課程，在美國休士頓\\n- 2026 夏季：每年七月，梯次A 7/7-7/18、梯次B 7/14-7/25\\n- 每梯次限30名，採申請制，不限理工背景\\n- 台灣學員 USD 5,980（含住宿三餐保險），國際 USD 7,999\\n- 不含國際機票、個人零用金\\n\\n4大學習體驗：\\nA. NASA 任務模擬（在真實太空任務環境學決策與團隊協作，6億美元規模模擬任務）\\nB. 太空工程與創新挑戰（動手解決工程問題）\\nC. 與科學家工程師交流（直接與 NASA 專家、產業人士面對面）\\nD. 未來太空經濟討論（商業、法律、媒體、創新者在太空產業的角色）\\n\\nAI × 太空：\\n- AI 任務規劃與決策（培養太空人等級問題解決能力）\\n- 太空居住設計（為月球/火星設計居住空間）\\n- 產業趨勢應用（理解 AI 如何加速太空產業）\\n- 未來情境建構（從月球基地到星際經濟）\\n\\n實地參訪設施：\\n- NASA 詹森太空中心限制區域（一般人無法進入）\\n- NASA 任務控制中心（日本太空人星出彰彥曾接待）\\n- NASA 中性浮力實驗室（NBL，太空人水下 EVA 訓練）\\n- iFLY 室內跳傘模擬無重力\\n- Ad Astra 離子引擎太空公司\\n- Sasakawa 國際太空建築中心\\n- 萊斯大學\\n- 水下無重力模擬\\n\\nIGNIS 框架：在 AI 加速、太空擴張的時代，未來不屬於知道更多或反應更快的人，而屬於那些能從 Real Reason 出發去建造的人。IGNIS 是把內在拉力轉化為現實行動的 operating system。三階段：Ignition（點燃）→ Iteration（迭代）→ Integration（整合）\\n\\n課程效益：\\n- 結業證書（可用於大學/研究所申請）\\n- 與 NASA 專家工程師建立人脈\\n- 進入限制區域的特殊體驗\\n- 全球 15,000+ 校友、20+ 國家網絡\\n- 20 年太空教育經驗\\n- 休士頓太空中心教育合作夥伴\\n\\n=== JSS 初階太空學校（小五～國九）===\\n- 在美國休士頓，12天全程住宿沉浸式課程\\n- 太空任務基礎訓練、團隊合作與問題解決、建立科學思維與國際視野\\n- JSS 是點燃興趣，HSS 是定向\\n\\n=== 課程名稱對照 ===\\nHSS = 太空學校 = 高階太空學校（高中/大學），網站：https://tcghss1.spaceschool.org/\\nJSS = 初階太空學校（小五～國九），網站：https://tcgjss1.spaceschool.org/\\n科學探索營（小四以下），也在休士頓\\n\\n=== 常見問答知識 ===\\n英文：基本溝通即可，不需流利。歷屆學員程度差距很大，英語從來不是拒絕理由。\\n安全：24小時督導，含當地醫療保險。飯店住宿，有專屬工作空間。\\n升學：校友錄取劍橋、牛津等。面試中教授主動追問 HASSE 經歷。具體校友：Tracy陳美羲(2018, 劍橋電腦科學, 英國機器手臂大賽冠軍)、Hugo陳孟宏(2017, 台大電機)。\\n\\n知名校友：\\n- Arthur Weng(2012校友)：加州大學爾灣分校航太工程，現 SpaceX 星艦火箭工程師。原話：「HASSE 太空學校對我來說非常激勵，絕對是我今天能進 SpaceX 的一個因素」\\n- Wayne Lin(2006校友)：加州柏克萊電機，Forbes 30 Under 30 企業家得主\\n- 村田燿 Yo Murata(2017校友)：東京大學電機，現日本宇宙局 JAXA 工程師\\n\\nNASA 太空人推薦：\\n- Leroy Chiao（焦立中，國際太空站指揮官）：「HASSE 太空學校是一個非常好的課程。我強力推薦給所有對太空有興趣的年輕人」\\n- Dr. Georg Von Tiensenhausen（阿波羅登月車主任工程師, NASA 名人堂）：「HASSE 是我見過最棒的組織」\\n- Dr. Deborah Barnhart（麻省理工, 美國 NASA 太空與火箭中心 CEO）：「HASSE是一個傑出的教育組織，我們從2006年開始就和他們密切合作，也會持續合作」\\n適合誰：不限科系。太空產業橫跨科技、商業、法律、金融、設計、傳播。\\n師資：NASA 太空人、知名教授、科學家工程師。Roland Nedelkovich 兩度獲 NASA 銀色史努比獎。\\n家長：可以一個人去，全程專業團隊照顧，定期跟家長更新。\\n內向：結構化小組任務環境，對內向友善。每位學生有明確角色。\\n證書：結業證書 + 20+ 國家校友網絡（SpaceX、Forbes 30 Under 30、劍橋等）\\n接機：IAH機場專人接送 USD 150-250\\n報名流程：1.預約諮詢 2.顧問評估 3.確認申請\\n好玩嗎：好玩！但不只好玩，引導思考未來，鼓勵「登月思維」\\n改變：最常見不是知識點而是學習態度改變。開始知道自己對什麼感興趣。\\n太空經濟：2040年全球超一兆美元，跨領域人才需求大。台灣角度：半導體讓台灣站上全球供應鏈核心，下一波在軌道上 — SpaceX 星鏈、Artemis 月球任務、低軌衛星通訊需要的晶片、感測器、通訊模組，很大一部分由台灣產業鏈供應。AI 正在重寫太空任務設計的每一個環節。\\n成績：目標不是提升考試成績，而是讓學生知道為什麼要學習\\n遊學差別：Touring遊覽型/Schooling名校型/Deep Learning深度學習(HASSE)\\n與營隊差別：一般遊客看展覽、拍照打卡、聽導覽。HASSE 學生走進 NASA 實驗室、執行 6 億美元規模的模擬任務、與產業和 NASA 專家面對面。「你可以自己去美國看太空中心，但這和在這裡做的事完全不同」這不是參觀，而是體驗太空產業的工作方式。\\n1-4年級：1-4年級的孩子適合「科學探索營」，也是在美國休士頓。如果有興趣我們找專人聯絡您，幫您了解詳細內容。\\n說明會：我們有線上說明會，可以到這裡查看最新場次和報名：https://tcghss.spaceschool.org/webinar\\n聯絡：LINE @nhe2702g / spaceschool.org / 台北信義路五段五號 7B12';\n  let context = '';\n  const ud = $getWorkflowStaticData('global').users?.[lineUserId] || {};\n  if (ud.contactName) context += '[用戶姓名: ' + ud.contactName + '] ';\n  if (ud.contactPhone) context += '[電話: ' + ud.contactPhone + '] ';\n  if (ud.contactEmail) context += '[Email: ' + ud.contactEmail + '] ';\n  if (prog) context += '[學生類別: ' + prog + '] ';\n  if (!context && displayName) context += '[LINE暱稱: ' + displayName + '] ';\n  return {\n    model: 'deepseek-chat',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: context + text }\n    ],\n    max_tokens: 300,\n    temperature: 0.7\n  };\n}\n\n// === State Machine: only handles button clicks ===\n// Free text in any state → GPT\n\nlet isButton = false;\n\nswitch(messageText) {\n  // === Welcome buttons ===\n  case '🎓 校友': case '校友':\n    messages = textMsg('歡迎回來！🎓\\n請問你是什麼時候參加的什麼課程？\\n（例如：2024 HSS）');\n    nextState = 'alumni_wait'; isButton = true; break;\n  case '🙋 了解課程': case '了解課程':\n    messages = askAgeMsg(); nextState = 'ask_age'; isButton = true; break;\n  case '💬 我要問問題': case '我要問問題': case '💬 常見問題': case '💬 我有問題': case '我有問題':\n    if (userData.program) {\n      messages = textMsg('沒問題！請直接打你的問題，我會盡量回答 😊');\n      nextState = 'done';\n    } else {\n      messages = askAgeMsg();\n      nextState = 'faq_need_age';\n    }\n    isButton = true; break;\n\n  // === Age buttons ===\n  case '🎓 高中 / 大學': case '高中 / 大學': case '高中/大學':\n    if (userState === 'faq_need_age') {\n      program = 'HSS';\n      messages = textMsg('了解！太空學校 (HSS) 😊\\n\\n請直接打你的問題，我會盡量回答！');\n      nextState = 'done';\n    } else {\n      program = 'HSS';\n      messages = buttons('HSS 太空學校：\\n\\n・Mission Control 模擬\\n・AI + Space 決策訓練\\n・與 NASA / 產業環境接觸\\n\\n2026 費用 USD 5,980（台灣學員）\\n\\n要不要花 10 分鐘免費線上諮詢？', ['好啊 👋', '先想想']);\n      nextState = 'showed_info';\n    }\n    isButton = true; break;\n  case '📚 小五～國九': case '小五～國九': case '📚 5–9 年級': case '5–9 年級': case '5-9 年級':\n    if (userState === 'faq_need_age') {\n      program = 'JSS';\n      messages = textMsg('了解！初階太空學校 (JSS) 😊\\n\\n請直接打你的問題，我會盡量回答！');\n      nextState = 'done';\n    } else {\n      program = 'JSS';\n      messages = buttons('JSS 初階太空學校：\\n\\n・太空任務基礎訓練\\n・團隊合作與問題解決\\n・建立科學思維與國際視野\\n\\n要不要花 10 分鐘免費線上諮詢？', ['好啊 👋', '先想想']);\n      nextState = 'showed_info';\n    }\n    isButton = true; break;\n  case '📒 小四以下': case '小四以下': case '📒 1–4 年級': case '1–4 年級': case '1-4 年級':\n    messages = textMsg('1–4 年級適合我們在休士頓的「科學探索營」🔬\\n\\n我請專人跟你聯繫，幫你了解詳細內容 😊');\n    program = '科學探索營'; ghlAction = 'young_student'; nextState = 'done'; isButton = true; break;\n\n  // === Soft close buttons ===\n  case '好啊 👋': case '好啊':\n    messages = textMsg('太好了！我請顧問直接 LINE 你 😊\\n方便什麼時候聯繫？');\n    ghlAction = 'hot_line'; nextState = 'done'; isButton = true; break;\n  case '先想想': {\n    const thinkUrl = (userData.program === 'JSS') ? 'https://tcgjss1.spaceschool.org/' : 'https://tcghss1.spaceschool.org/';\n    messages = textMsg('沒問題！😊\\n\\n方便的話，可以留下您的姓名、電話和 Email 嗎？這樣我們可以提供更完整的資訊給您 🙏\\n\\n這裡也有招生介紹可以參考 👉\\n' + thinkUrl);\n    ghlAction = 'warm'; nextState = 'ask_contact'; isButton = true; break;\n  }\n\n  // === Legacy buttons (backward compat) ===\n  case '💬 LINE 通話':\n    messages = textMsg('好的！方便什麼時候？我請顧問直接 LINE 你 😊');\n    ghlAction = 'hot_line'; nextState = 'done'; isButton = true; break;\n  case '📹 Zoom': {\n    const zUrl = (userData.program === 'HSS') ? 'https://tcghss1.spaceschool.org' : 'https://tcgjss1.spaceschool.org';\n    messages = textMsg('好的！這裡可以直接選時間 👉\\n' + zUrl);\n    ghlAction = 'hot_zoom'; nextState = 'done'; isButton = true; break;\n  }\n}\n\n// === Free text: all goes to GPT ===\nif (!isButton) {\n  if (userState === 'alumni_wait') {\n    // Alumni replied with course info\n    messages = textMsg('收到！你參加的是「' + messageText + '」對嗎？\\n\\n謝謝你的資訊 😊 我已經幫你記錄了，我們團隊會盡快跟你聯繫！');\n    ghlAction = 'alumni';\n    nextState = 'done';\n  } else if (userState === 'new') {\n    // First message ever — show welcome\n    messages = welcomeMsg();\n    nextState = 'welcome';\n  } else if (userState === 'ask_contact') {\n    // User replied with contact info — parse name/phone/email\n    const info = messageText;\n    const phoneMatch = info.match(/(?:0[0-9]{8,9}|\\+?886[0-9]{8,9}|09[0-9]{8})/);\n    const emailMatch = info.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/);\n    var contactPhone = phoneMatch ? phoneMatch[0] : '';\n    var contactEmail = emailMatch ? emailMatch[0] : '';\n    // Name = remove phone and email from text, take what's left\n    var contactName = info.replace(/(?:0[0-9]{8,9}|\\+?886[0-9]{8,9}|09[0-9]{8})/g, '').replace(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g, '').replace(/[,，\\s]+/g, ' ').trim();\n    if (!contactName) contactName = displayName;\n    // Save to staticData so we remember\n    userData.contactName = contactName;\n    userData.contactPhone = contactPhone;\n    userData.contactEmail = contactEmail;\n    messages = textMsg('收到！謝謝你 ' + contactName + '，我們會盡快聯繫你 😊\\n\\n有任何問題隨時問我們！');\n    ghlAction = 'collect_contact';\n    nextState = 'done';\n  } else if (/^(謝謝|感謝|再見|掰掰|bye|好的謝謝|謝啦|不用了|我想想|我再想想|考慮一下|考慮看看|先這樣|好的|了解|知道了)$/i.test(messageText) || /謝謝|再見|掰掰|不用了|我想想|我再想想|考慮一下|先這樣吧/.test(messageText)) {\n    // Farewell detected — ask for contact info\n    messages = textMsg('沒問題！😊\\n\\n方便的話，可以留下您的姓名、電話和 Email 嗎？這樣我們可以提供更完整的資訊給您 🙏');\n    nextState = 'ask_contact';\n  } else {\n    // Detect grade/age from free text to set program context\n    const detected = detectProgram(messageText);\n    if (detected && !program) program = detected;\n    const knownProg = program || userData.program || '';\n    // If asking about enrollment/courses/pricing but no age known → ask age first\n    if (!knownProg && /招生|報名|申請|參加|課程|費用|學費|多少錢|怎麼報|梯次|什麼時候|暑假|夏令營|冬令營|有沒有開|說明會|講座|線上說明/.test(messageText)) {\n      messages = buttons('有的！我們有招生喔 😊\\n\\n先確認一下孩子的年級，這樣可以給你最準確的資訊：', ['🎓 高中 / 大學', '📚 小五～國九', '📒 小四以下']);\n      nextState = 'ask_age';\n    } else {\n      // Everything else: send to GPT\n      needsAI = true;\n      aiBody = buildAIBody(messageText, knownProg);\n      nextState = 'done';\n    }\n    // Track for GHL if it looks like a CS question\n    if (/已.*報名|退費|退款|取消|改期|簽證|行前|付了|匯了/.test(messageText)) {\n      ghlAction = 'cs_question';\n    }\n  }\n}\n\nstaticData.users[lineUserId] = { state: nextState, program: program || userData.program || '', updatedAt: Date.now(), contactName: userData.contactName || '', contactPhone: userData.contactPhone || '', contactEmail: userData.contactEmail || '' };\nconst contactInfo = { contactName: typeof contactName !== 'undefined' ? contactName : '', contactPhone: typeof contactPhone !== 'undefined' ? contactPhone : '', contactEmail: typeof contactEmail !== 'undefined' ? contactEmail : '' };\nreturn { replyToken, messages, ghlAction, needsAI, aiBody, messageText, displayName, lineUserId, state: nextState, program: program || userData.program || '', ...contactInfo };"
      },
      "name": "Chatbot Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        880
      ],
      "id": "chatbot-router-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyToken: $json.replyToken, messages: $json.messages }) }}",
        "options": {}
      },
      "name": "Send LINE Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        320
      ],
      "id": "send-reply-001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vLX9ZgLfdMvCBu7G",
          "name": "LINE Bot Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.needsAI }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Needs AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        320
      ],
      "id": "needs-ai-check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.aiBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Ask DeepSeek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        224
      ],
      "id": "ask-openai-001",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $input.item.json.choices?.[0]?.message?.content || '這個問題我幫你轉給專人，會盡快回覆你 😊';\nconst prev = $('Chatbot Router').first().json;\n\nreturn {\n  replyToken: prev.replyToken,\n  messages: [{ type: 'text', text: aiResponse }],\n  ghlAction: prev.ghlAction,\n  messageText: prev.messageText,\n  displayName: prev.displayName,\n  lineUserId: prev.lineUserId,\n  state: prev.state,\n  program: prev.program\n};"
      },
      "name": "Format AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        224
      ],
      "id": "format-ai-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $('Chatbot Router').first().json.ghlAction }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Save to GHL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        320
      ],
      "id": "save-ghl-if"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  locationId: 'A0BcGX8PnPccQLUEzdm6',\n  firstName: $('Chatbot Router').first().json.contactName || $('Chatbot Router').first().json.displayName,\n  phone: $('Chatbot Router').first().json.contactPhone || undefined,\n  email: $('Chatbot Router').first().json.contactEmail || undefined,\n  source: 'LINE Chatbot',\n  tags: [\n    'LINE',\n    $('Chatbot Router').first().json.ghlAction === 'cs_question' ? '待回覆' :\n    $('Chatbot Router').first().json.ghlAction === 'cs_existing' ? '待回覆' :\n    $('Chatbot Router').first().json.ghlAction === 'hot_line' ? 'LINE諮詢' :\n    $('Chatbot Router').first().json.ghlAction === 'hot_zoom' ? 'Zoom諮詢' :\n    $('Chatbot Router').first().json.ghlAction === 'warm' ? '觀望中' :\n    $('Chatbot Router').first().json.ghlAction === 'alumni' ? '校友' :\n    $('Chatbot Router').first().json.ghlAction === 'young_student' ? '科學探索營' :\n    $('Chatbot Router').first().json.ghlAction === 'collect_contact' ? '待跟進' :\n    'LINE'\n  ].filter(Boolean),\n  customFields: [\n    { id: 'VHBNkQBpsivixjZAzrMd', field_value: $('Chatbot Router').first().json.lineUserId },\n    { id: 'qN47bb52eT0ky7wlebrR', field_value: $('Chatbot Router').first().json.state || 'done' }\n  ]\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "GHL Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        224
      ],
      "id": "ghl-upsert-new",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact?.id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  body: '📱 LINE 訊息\\n' +\n    '動作: ' + $('Chatbot Router').first().json.ghlAction + '\\n' +\n    '問題: ' + $('Chatbot Router').first().json.messageText + '\\n' +\n    '課程: ' + ($('Chatbot Router').first().json.program || '未選擇') + '\\n' +\n    '時間: ' + new Date().toISOString()\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "GHL Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        224
      ],
      "id": "ghl-note-new",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eIGPaCqa6w5u56Pr",
          "name": "GHL API Key - LINE TC"
        }
      }
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get LINE Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LINE Profile": {
      "main": [
        [
          {
            "node": "Parse LINE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LINE Data": {
      "main": [
        [
          {
            "node": "Chatbot Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HSS or JSS?": {
      "main": [
        [
          {
            "node": "Upsert GHL Contact (HSS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert GHL Contact (JSS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert GHL Contact (HSS)": {
      "main": [
        [
          {
            "node": "Create HSS Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger GHL HSS Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert GHL Contact (JSS)": {
      "main": [
        [
          {
            "node": "Create JSS Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger GHL JSS Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HSS Opportunity": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JSS Opportunity": {
      "main": [
        []
      ]
    },
    "Chatbot Router": {
      "main": [
        [
          {
            "node": "Needs AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs AI?": {
      "main": [
        [
          {
            "node": "Ask DeepSeek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send LINE Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Reply": {
      "main": [
        [
          {
            "node": "Send LINE Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LINE Reply": {
      "main": [
        [
          {
            "node": "Save to GHL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to GHL?": {
      "main": [
        [
          {
            "node": "GHL Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GHL Upsert Contact": {
      "main": [
        [
          {
            "node": "GHL Add Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask DeepSeek": {
      "main": [
        [
          {
            "node": "Format AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true
  },
  "staticData": {
    "global": {
      "users": {
        "Uf45f410f97804268626914fb91b199eb": {
          "state": "done",
          "program": "科學探索營",
          "updatedAt": 1775743426041,
          "contactName": "我不是已經告訴你了嗎",
          "contactPhone": "",
          "contactEmail": ""
        },
        "Ucbbefc922ac2a6dce088a39033f0ffa4": {
          "state": "done",
          "program": "",
          "updatedAt": 1775662042203
        },
        "U6a55fbb6b3c5b481d79b38420fdc7f0d": {
          "state": "faq_need_age",
          "program": "",
          "updatedAt": 1775810823124,
          "contactName": "",
          "contactPhone": "",
          "contactEmail": ""
        },
        "Uf343a1fc980be4b6aa17937224df970f": {
          "state": "done",
          "program": "",
          "updatedAt": 1775832731836,
          "contactName": "吳允宏",
          "contactPhone": "0952950966",
          "contactEmail": "andywu20071007@gmail.com"
        },
        "U42ae67d713fb23026f6727bc94b10328": {
          "state": "done",
          "program": "",
          "updatedAt": 1775886899614,
          "contactName": "哈哈",
          "contactPhone": "",
          "contactEmail": ""
        }
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "portbis.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "517",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "1.163.253.3",
            "cf-ew-via": "15",
            "cf-ipcountry": "TW",
            "cf-ray": "9e877b1dcdbaa9ad-TPE",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "1.163.253.3, 172.68.87.30",
            "x-forwarded-host": "portbis.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-1-d467f55bf-w4ktm",
            "x-is-trusted": "yes",
            "x-real-ip": "1.163.253.3"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "Udeadbeefdeadbeefdeadbeefdeadbeef",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "text",
                  "id": "1234567890",
                  "text": "HASSE報名諮詢：姓名：林測試 電話：0922123456 電子郵件：test@example.com"
                },
                "timestamp": 1234567890123,
                "source": {
                  "type": "user",
                  "userId": "U1234567890abcdef1234567890abcdef"
                },
                "replyToken": "nHuyWiB7yP5Zw52FIkcQobQuGDXCTA",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://portbis.app.n8n.cloud/webhook/line-lead",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "a38b15f6-e711-4569-86fa-8b579ed24338",
  "activeVersionId": null,
  "versionCounter": 573,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T13:29:02.453Z",
      "createdAt": "2026-03-24T13:29:02.453Z",
      "role": "workflow:owner",
      "workflowId": "fFnV9UqWZ4q4CtjP",
      "projectId": "wqbNheoazEOuxFqc",
      "project": {
        "updatedAt": "2026-01-09T17:29:05.737Z",
        "createdAt": "2026-01-09T17:29:00.861Z",
        "id": "wqbNheoazEOuxFqc",
        "name": "James Liu <thehasse@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cf28b4f6-5a8e-4b53-805b-5e9f20d14f6d"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-24T13:29:00.547Z",
      "createdAt": "2026-03-24T13:29:00.547Z",
      "id": "5K7Ajet135wDycrc",
      "name": "Taiwan"
    },
    {
      "updatedAt": "2026-03-20T14:46:16.196Z",
      "createdAt": "2026-03-20T14:46:16.196Z",
      "id": "6ImuZzUzwrXRXYLX",
      "name": "GHL"
    },
    {
      "updatedAt": "2026-03-24T13:29:00.491Z",
      "createdAt": "2026-03-24T13:29:00.491Z",
      "id": "8nE9zJhoYx58vHks",
      "name": "LINE"
    }
  ],
  "activeVersion": null
}